// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2020-2023 Texas Instruments Incorporated - https://www.ti.com/
 */

#include "k3-j7200-binman.dtsi"

/ {
	chosen {
		tick-timer = &mcu_timer0;
	};
};

&cbass_main {
    
};

&main_navss {
    bootph-all;
};

&main_esm {
    bootph-all;
};

&cbass_mcu_wakeup {
	bootph-all;

	wkup_conf: bus@43000000 {
		bootph-all;

		chipid: chipid@14 {

		};
	};
};

&mcu_navss {
    
};

&mcu_ringacc {
    
};

&mcu_udmap {
    
};

&secure_proxy_main {
    
};

&dmsc {
    
};

&k3_pds {
    
};

&k3_clks {
    
};

&k3_reset {
    
};

&wkup_pmx0 {
    
};

&wkup_pmx2 {
	bootph-all;
};

&main_pmx0 {
	bootph-all;
};

&main_uart0 {
    
};

&main_uart2 {
	bootph-all;
};

&mcu_uart0 {
    
};

&main_sdhci0 {
    
};

&main_sdhci1 {
    
};

&wkup_i2c0 {
    
};

&main_i2c0 {
	bootph-all;
};

&exp1 {
	bootph-all;
};

&exp2 {
	bootph-all;
};

&mcu_cpsw {
	bootph-all;
};

&mcu_uart0 {
    
};

&wkup_i2c0 {
    
};

&wkup_uart0 {
    
};

&fss {
	bootph-all;
};

&main_uart0_pins_default {
    
};

&main_mmc1_pins_default {
    
};

&main_i2c0_pins_default {
    
};

&wkup_i2c0_pins_default {
	bootph-all;
};

&wkup_uart0_pins_default {
    
};

&wkup_gpio_pins_default {
    
};

&wkup_gpio0 {
	bootph-all;
};

&hbmc {
	bootph-all;

	flash@0,0 {

	};
};

&hbmc_mux {
    
};

&usbss0 {
    
    ti,usb2-only;
};

&usb0 {
	dr_mode = "peripheral";
};

&ospi0 {
	bootph-all;

	flash@0 {
		bootph-all;
	};
};

&serdes_ln_ctrl {
	bootph-all;
};

&usb_serdes_mux {
    
};

&serdes0 {
	bootph-all;
};
